:root {
  --h1: 26px 'Ubuntu', sans-serif;
  --h2: 24px 'Ubuntu', sans-serif;
  --h3: 22px 'Ubuntu', sans-serif;
  --h4: 20px 'Ubuntu', sans-serif;
  --body: 18px 'Ubuntu', sans-serif;
  --body-med: 16px 'Ubuntu', sans-serif;
  --body-small: 14px 'Ubuntu', sans-serif;
  --text: 12px 'Ubuntu', sans-serif;
  --text-tiny: 10px 'Ubuntu', sans-serif;
}
