.wrapper {
  margin-top: 30px;
}

.toggleGroup {
  margin-top: 5px;
  border: 1px solid var(--bgr);
}

.btnGroup {
  text-transform: capitalize;
  font: var(--body-small);
  font-weight: 500;
  padding: 10px 15px;
}

.btnGroup:hover {
  cursor: pointer;
}

.btnGroup[aria-pressed='true'],
.btnGroup[aria-pressed='true']:hover {
  color: var(--bgr);
  background-color: var(--color);
}

.btnGroup[aria-pressed='false'],
.btnGroup[aria-pressed='false']:hover {
  color: var(--color);
  background-color: var(--bgr);
}
