.wrapper {
  margin-top: 10px;
}

.wrapper p {
  margin-top: 10px;
}

.titleWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.titleWrapper > p:first-child {
  margin-right: 10px;
}
